<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd" [
    <!--ENTITY % classpath-ent SYSTEM "classpath.ent"> %classpath-ent;-->
]>

<web-app>  
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>jpp.webapp.servlets.TestServlet</servlet-class>
        
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>anmelden</servlet-name>
    <servlet-class>jpp.webapp.servlets.AnmeldenServlet</servlet-class>
        
  </servlet>
  
  <servlet-mapping>
    <servlet-name>anmelden</servlet-name>
    <url-pattern>/anmelden</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet>
    <servlet-name>abmelden</servlet-name>
    <servlet-class>jpp.webapp.servlets.AbmeldenServlet</servlet-class>
        
  </servlet>
  
  <servlet-mapping>
    <servlet-name>abmelden</servlet-name>
    <url-pattern>/abmelden</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <servlet>
    <servlet-name>aendere</servlet-name>
    <servlet-class>jpp.webapp.servlets.AendereServlet</servlet-class>
        
  </servlet>
  
  <servlet-mapping>
    <servlet-name>aendere</servlet-name>
    <url-pattern>/aendere</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>entferne</servlet-name>
    <servlet-class>jpp.webapp.servlets.EntferneServlet</servlet-class>
        
  </servlet>
  
  <servlet-mapping>
    <servlet-name>entferne</servlet-name>
    <url-pattern>/entferne</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>clearUpIndex</servlet-name>
    <servlet-class>jpp.webapp.servlets.ClearUpIndexServlet</servlet-class>
        
  </servlet>
  
  <servlet-mapping>
    <servlet-name>clearUpIndex</servlet-name>
    <url-pattern>/clearUpIndex</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>importiere</servlet-name>
    <servlet-class>jpp.webapp.servlets.ImportiereServlet</servlet-class>
        
  </servlet>
  
  <servlet-mapping>
    <servlet-name>importiere</servlet-name>
    <url-pattern>/importiere</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>suche</servlet-name>
    <servlet-class>jpp.webapp.servlets.SucheServlet</servlet-class>
        
  </servlet>
  
  <servlet-mapping>
    <servlet-name>suche</servlet-name>
    <url-pattern>/suche</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>getAlben</servlet-name>
    <servlet-class>jpp.webapp.servlets.GetAlbenServlet</servlet-class>
        
  </servlet>
  
  <servlet-mapping>
    <servlet-name>getAlben</servlet-name>
    <url-pattern>/getAlben</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class>
      jpp.webapp.ServletContext
    </listener-class>
  </listener>

</web-app>
